
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars {
  background:#000 url(../img/starscape2.jpg) no-repeat center center;
  z-index:-2;
  height: 100%;
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:120%;
  display:block;
}

.twinkling{
  background:transparent url(../img/flicker.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.container-full-width {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar>.container-fluid {
  background: #000;
  border-bottom: medium solid #ccb24c;
}

.content {
  padding: 5px;
  background: #ffffff;
}

nav {
  position: relative;
  width: 100%;
  margin: 25px auto 200px;
  text-align: center;
}

nav>div {
  position: relative;
  padding: 0;
  display: inline-block;
  margin-right: auto;
  text-align: center;
}

#nav-1 {
  top: 175px;
  right: 20px;
}

#nav-3 {
  top: 175px;
  left: 20px;
}


.nav-orb>a {
  background: #ffffff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -moz-box-shadow: 0 0 10px 4px rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 0 10px 4px rgba(255,255,255,0.8);
  box-shadow: 0 0 10px 4px rgba(255,255,255,0.8);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}