@import "compass/css3";
@import "compass/reset";

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

* {
  z-index: 2;
}
.stars {
  background:#000 url(../img/starscape2.jpg) no-repeat center center;
  z-index:-2;
  height: 100%;
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:120%;
  display:block;
}

.twinkling{
  background:transparent url(../img/flicker.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.content {
  padding: 5px;
  background: #ffffff;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  height: 300px;
  //@include transition(all 0.75s ease);
  >div {
    position: fixed;
    padding: 0;
    background: #ffffff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-box-shadow: 0 0 10px 4px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 10px 4px rgba(255,255,255,0.8);
    box-shadow: 0 0 10px 4px rgba(255,255,255,0.8);
  }
}

.lower-nav{
  top: 175px;
}

#nav-1 {
  left: 50%;
  margin-left: -170px;
  @include transition(all 0.75s ease);
}

#nav-2 {
  left: 50%;
  margin-left: -50px;
  @include transition(all 0.75s ease);
}

#nav-3 {
  right: 50%;
  margin-right: -170px;
  @include transition(all 0.75s ease);
}

.upper-nav {
  top: 25px;
}

.sticky-nav {
  height: 150px;
}

.disappear {
  @include opacity(0);
  @include transition(all 0.5s ease);
}

#tubular-container {
  @include transition(all 0.5s ease);
}




